html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	touch-action: none;
}

canvas {
	display: block;
}

.container {
	display: flex;
	justify-content: center; /* Horizontally center */
	align-items: center; /* Vertically center */
	height: 100vh; /* Full height of the viewport */
}
